/* body */
body {
	background: url(../images/bgtile.png);
	background-repeat: repeat-x;
	background-color: #F5F5F7;
	padding-top: 75px;
	max-width: 850px;
	padding-left: 175px;
}

button {
	float: right;
	background-color: #6685A4;
	height: 40px;
	width: 80px;
	margin-right: 50px;
	margin-top: 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 0 1px;
}

button:hover {
	box-shadow: 0 0 0 1px, 0 5px 5px;
}

button:active {
	box-shadow: 0 0 0 1px, 0 5px 5px;
}

button img {
	float: left;
	padding-top: 5px;
}

button p {
	float: right;
	text-align: center;
	color: white;
	padding-right: 3px;
}

/* images */
.logo {
	float: right;
	padding-right: 50px;
}

.phones {
	float: left;
}

/*text box */
.body {
	display: inline-block;
}

.description {
	float: right;
	margin: 40px;
	max-width: 390px;
	padding: 15px 20px;
	border: 5px;
	background-color: #F5F5F7;
}

h2 {
	color: #597797;
	margin-left: 5px;
}

/*bottom list/copyright*/

footer {
	clear: both;
	text-align: center;

}

ul {
	display: inline-block;
}

li {
	display: inline;
}

a {
	color: #7C95AF;
}

/* media */

/*tablets*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1020px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  	body {
  		background: url(../images/instagram-gradient-wallpaper.png);
  		background-size: cover;
  		min-height: 100%;
		padding-top: 25px;
		padding: 0 45px;
		zoom: 125%;
	}

	.body {
		height: 600px;
		width: 700px;
		margin-top: 150px;
	}

	button {
		margin-right: 75px;
		margin-top: 20px;
		zoom: 150%;
	}

	.logo {
		margin: 35px 15px 35px 0;
	}

	.phones {
		display: last;
		zoom: 85%;
	}

	.description {
		zoom: 125%;
		width: 300px;
		margin: 0;
		color: #F5F5F7;
		background-color: transparent;
	}

	.description img {
		zoom: 75%;
	}

	h2 {
		color: #F5F5F7;
		margin: 0;
	}

	a {
		color: white;
	}

	footer {
		color: white;
		zoom: 130%;
	}
}

/*phones*/

@media only screen  
  and (max-device-width: 765px)
  and (-webkit-min-device-pixel-ratio: 2) {
	body {
		background: url(../images/instagram-gradient-wallpaper.png);
		background-size: cover;
		min-height: 100%;
		display: block;
		padding-top: 25px;
		max-width: 450px;
		padding: 0 45px;
		zoom: 200%;
	}

	button {
		margin-right: 70px;
		margin-top: 20px;
		zoom: 150%;
	}

	.logo {
		border-left: 10px;
		padding: 0 30px 0 0;
	}

	.phones {
		margin-left: 35px;
	}

	.description {
		zoom: 200%;
		margin: 0;
		color: #F5F5F7;
		background-color: transparent;
	}

	.description img {
		zoom: 70%;
		font-size: 40px;
	}

	h2 {
		margin: 0;
		color: #F5F5F7;
		font-size: 50px;
	}

	a {
		color: white;
	}

	footer {
		color: white;
		zoom: 100%;
	}
}
